<div class="container-login">
  <main class="card-login">
    <header class="cabecalho-login">
      <h1>Login</h1>
    </header>

    <form class="formulario-login">
      <div class="grupo-input">
        <label for="email">E-mail</label>
        <input id="email" type="email" placeholder="seu@email.com" />
      </div>

      <div class="grupo-input">
        <label for="senha">Senha</label>
        <input id="senha" type="password" placeholder="••••••••" />
        <a href="#" class="esqueceu-senha">Esqueceu a senha?</a>
      </div>

      <button type="submit" class="botao-enviar">Entrar</button>


      <p class="texto-cadastro">
        Não tem conta?
        <a href="/cadastro" class="link-cadastro">Cadastre-se</a>
      </p>
    </form>

    <footer class="rodape-login">
      <a href="#">Formas de Pagamento</a>
    </footer>
  </main>
</div>
