:root {
  --cor-primaria: #000000;
  --cor-de-fundo: #f5f5f5;
  --cor-fundo-card: #ffffff;
  --cor-rodape-texto: #ffffff;
  --cor-texto: #111111;
  --cor-texto-clara: #555555;
  --cor-borda: #d1d5db;
  --cor-erro: #dc2626;
  --radius: 10px;
}
