h2 {
  text-align: center;
  color: #141414;
  margin-bottom: 30px;
}

.carrinho-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.produto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #ddd;
}

.produto:last-child {
  border-bottom: none;
}

.produto-quantidade button {
  margin: 0 4px;
  padding: 4px 8px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.quantidade-valor {
  display: inline-block;
  min-width: 20px;
  text-align: center;
  font-weight: bold;
}

.produto-remover button {
  background-color: #989898;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  transition: background-color 0.2s;
}

.produto-remover button:hover {
  background-color: #000000;
}

h3 {
  text-align: right;
  margin-top: 25px;
  padding-top: 15px;
  border-top: 2px solid #989898;
  font-size: 1.5em;
  color: #000000;
}

.carrinho-vazio {
  text-align: center;
  padding: 50px;
  font-size: 1.2em;
  color: #000000;
}

.btn-confirmar {
  background-color: #aabaab;
  color: rgb(4, 4, 4);
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

.btn-confirmar:hover {
  background-color: #45a049;
}